<nav class="navbar navbar-expand-lg navbar-light bg-light justify-content-between">
  <%= link_to 'Wikinomous', articles_path, class: "navbar-brand" %>
  <%= link_to 'New Article', new_article_path, class: "nav navbar-nav navbar-right text-muted" %>
</nav>
