<nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light justify-content-between border-bottom">
  <%= link_to 'Wikinomous', articles_path, class: "navbar-brand text-muted" %>
  <%= link_to 'New Article', new_article_path, class: "nav navbar-nav navbar-right text-muted" %>
</nav>
