// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.container{
  width: 800px;
  padding-top: 50px;
}
  
.card>a{
  color: rgb(66, 115, 221);
}
  
.card-title h2{
  display:inline-block;
}
